/** Filter buttons */

.palo-button-filter,
.palo-button-resetfilters {
    font-size: .8rem;
    padding: .65rem .9rem;
}

.palo-button-filter {
    background: rgba(5, 204, 152, 0.5);    
}

.palo-button-filter-active {
    background: rgba(5, 204, 152, 1);
}

.palo-button-resetfilters {
    background: white;
    font-weight: bold;
    color: rgba(5, 204, 152, 1) !important;
    border: 1px solid rgba(5, 204, 152, 1);
    box-sizing: border-box;
}

.palo-button-filter,
.palo-button-resetfilters {
    margin-left: 0;
    margin-right: 0.5rem;
}

