<h1>Nos <span class="palo-title-highlight">formations</span></h1>

<div class="row">

    <div class="col-lg-8">
        <app-domaines (domaineUpdated)="filterFormations($event)" (filtersReset)="resetFilters()"
            [availableDomaines]="this.availableDomaines"></app-domaines>

        <div class="palo-formations-grid">

            <div class="row">
                <app-card @cardShuffle *ngFor="let formationToDisplay of formationsToDisplay"
                    [cardFormation]="formationToDisplay" class="col-md-6">
                    <p>Oubliez ce que vous pensez savoir de Javascript et apprenez un langage Moderne (fonctionnalités
                        avancées,
                        nouveaux patterns, programmation fonctionnelle...).</p>
                </app-card>
            </div>

        </div>
    </div>

    <div class="col-lg-4 palo-formations-drawing">
    </div>

</div>