<footer>
    <div class="uk-container">
        <div class="uk-child-width-expand@s uk-flex-middle footer-wrapper" uk-grid>

            <div>
                <img src="assets/images/white_logo.svg" class="d-inline-block align-top palo-logo" alt="">
                <p markdown ngPreserveWhitespaces>
                    {{ data.coordonnee.adresse.replace(this.mdLinebreak, this.htmlLinebreak) }}
                </p>
            </div>

            <div>
                <app-map></app-map>
            </div>

        </div>
    </div>
</footer>