/* Whole card */

a, a:hover, p {
    color: #666;
    text-decoration: none;
}

div.palo-card {
    border: none;
    padding: 0;
    border-radius: 12px;
    background: #05CC98;
    background: linear-gradient(0deg, rgba(5,204,152,1) 100%, rgba(56,230,175,1) 0%);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
}

div.palo-card-body {
    padding: 0 0 1.25rem 0;
}

/* Card tags */

.palo-card-tags {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
    padding: 0 30px;
    min-height: 36px;
    color: #706F67;
}

.palo-card-tags p {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    color: #706F67;
}

/* Card header */

div.palo-card-header {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.palo-card-header h3 {
    color: white;
    font-size: 18px;
    margin: 0;
    margin-top: 5px;
}

div.palo-card-header p {
    color: white;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
}

/* Card content */

div.palo-card-content {
    background-color: white;
    padding: 20px 25px;
    margin: 0;
}

div.palo-card-avatar-container {
    align-self: center;
    padding: 0;
}

img.palo-card-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.palo-card-info {
    padding: 0 0 0 20px;
    align-self: center;
}


@media (min-width: 768px) {

    div.palo-card-header {
        min-height: 11em;
    }

    div.palo-card-content {
        min-height: 8.5em;
    }
}

@media (min-width: 1200px) {

    div.palo-card-header {
        min-height: 10em;
    }
}

.palo-card-content p {
    font-size: 12px;
}

div.palo-card-content-info {
    padding-left: 25px;
}

p.palo-card-content-prof {
    margin: 0;
    margin-bottom: 15px;
}

p.palo-card-content-date {
    margin: 15px 0;
}

p.palo-card-content-location {
    margin: 0;
    margin-top: 15px;
}

.palo-card-icon {
    font-size: 18px;
    margin: -4px 4px 0 0;
}