h1 {
    padding: 0;
}

div.row {
    padding: 0 15px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 25%;
    align-self: flex-end;
}

input.ng-invalid.ng-touched {
    border: 1px solid #EF8035;
}

.palo-invalid {
    color: #EF8035;
}

.palo-button-send {
    margin: 1.5rem 0;
    min-width: 7rem;
}

button:disabled {
    pointer-events: none;
    user-select: none;
    cursor: none;
    background-color: rgba(5, 204, 152, 0.5);
    box-shadow: none;
}

div.form-check {
    margin: 1rem 0 0.5rem 0;
}