h1 {
    padding: 0;
}

div.row {
    padding: 0 15px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 25%;
    align-self: flex-end;
}

#muf {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    text-decoration: none;
    /* margin-top: 1.5rem;
    min-width: 7rem; */
    align-items: center;
    justify-content: center;
  }