<div class="container palo-container">
    <h1>Rencontrez<br>vos futur·es <span class="palo-title-highlight">formateur·rices</span></h1>

    <section class="palo-formateurs">
        <app-formateur
            *ngFor="let formateur of formateurs; let i = index"
            [formateur]="formateur"
            [orientationIndex]="i"
            class="palo-formateur-component"
            [ngClass]="i%2 === 0 ? 'palo-formateur-component-left' : 'palo-formateur-component-right'">
        </app-formateur>
    </section>
</div>