/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
footer looks when it comes to spacing and other general styles.
*********************************************************************************
****************************************************************************** */

.footer {
    text-align: center;
  }
  .footer__container {
    padding: 1rem;
    margin: 0 auto;
  }
  .footer__copyright {
    font-family: Lato,sans-serif;
    font-size: .7rem;
    font-size: 13px;
    font-family: Montserrat-Medium;
    letter-spacing: 1.3px;
  }
  .footer {
    box-shadow: rgb(3, 168, 124) -1px 8px 18px 0px inset;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Montserrat-Light;
    background: linear-gradient(192.16deg, rgb(5, 240, 161) 0%, rgb(3, 168, 124) 100%);
    padding: 75px 0px 0px;
    margin: auto;
  }
  
  .footer-container {
    max-width: 1540px;
    margin: auto;
  }
  .footer-bottom-row {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 80%;
    font-size: 13px;
    font-family: Montserrat-Medium;
    letter-spacing: 1.3px;
    margin: 0px auto;
    padding: 0px 0px 20px;
  }
  .footer a {
    color: #fff;
  }
  .privacy-col p {
    margin: 0;
    line-height: 26.1px;
  }
  .footer {
  
    overflow: hidden;
  }
  .footer-top h2 {
    font-size: 28px;
    margin-bottom: 40px;
    padding: 5px;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Montserrat-Light;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 26.1px;
  }
  .custom-footer-address .content-row ul h3 {
    font-weight: 400;
  }
  
  .custom-our-approach .content-inner {
  
    color: rgb(25, 25, 25);
  }
  .custom-service-row1 .custom-postive-impact .bg-img {
    margin-right: -5px;
  }
  .footer-top h3 {
    font-size: 28px;
    margin-bottom: 40px;
    padding: 5px;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    /* font-family: Montserrat-Light; */
    /* font-weight: normal; */
    letter-spacing: 0;
    line-height: 26.1px;
    font-family: Montserrat-SemiBold;
    font-size: 28px;
    margin-bottom: 20px;
    opacity: 1;
    padding: 5px;
    font-weight: 400;
  }
  @media only screen and (min-width: 1024px){
    .footer-bottom-row  {
      border-top: 1px solid rgb(255, 255, 255);
    }
  }
  @media only screen and (max-width: 1023px) {
    .privacy-col p {
      margin: 0;
      line-height: 26.1px;
      font-size: 13px;
  
    }
  }
  @media only screen and (max-width: 480px) {
    .privacy-col p {
      line-height: 23.6px;
    }
    .footer__copyright {
      line-height: 23.6px;
    }
  }
  