div.row {
    padding: 0 15px;
}

div.palo-formateur-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3.palo-formateur-nom {
    font-size: 24px;
    line-height: 29px;
    color: #EF8035;
    margin: 16px 0;
}

div.palo-formateur-social-icons {
    display: flex;
}

p.palo-formateur-bio {
    font-size: 0.9rem;
}

.palo-formateur-formations h4 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.palo-button-formation {
    padding: 0.65rem 1rem;
    margin: 0.25rem;
    font-size: 13px;
    font-weight: 600;
}

img.palo-avatar-formateur {
    flex-shrink: 0;
}

/***********************************/
/* Orientation-specific properties */
/***********************************/

.palo-button-formation {
    margin-left: 0;
    margin-right: 0.5rem;
}

span.palo-formateur-icon {
    margin-left: 16px;
    margin-right: 0;
}

@media (min-width: 992px) {

    div.palo-formateur-container {
        display: flex;
        align-items: center;
    }

    .palo-formateur-right,
    .palo-formateur-right div.palo-formateur-title {
        flex-direction: row-reverse;
    }

    .palo-formateur-left div.palo-formateur-info {
        padding-left: 3rem;
    }
    
    .palo-formateur-right div.palo-formateur-info {
        padding-right: 3rem;
        text-align: right;
    }

    .palo-formateur-right .palo-button-formation {
        margin-left: 0.5rem;
        margin-right: 0;
    }

    .palo-formateur-right span.palo-formateur-icon {
        margin-left: 0;
        margin-right: 16px;
    }

    img.palo-avatar-formateur {
        max-width: 24%;
    }

    .palo-formateur-right .palo-formateur-formations .row {
        justify-content: flex-end;
    }
}