@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import "~leaflet/dist/leaflet.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


/*********** Fonts ***********/

@font-face {
    font-family: bernadette;
    src: url(assets/fonts/bernadette.otf) format("opentype");
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

p {
    color: rgba(0, 0, 0, 0.8);
}


/*********** Headings ***********/

.palo-title-highlight {
    color: transparent;
    background-image: linear-gradient(to top, rgb(5, 204, 152), rgb(5, 240, 161));
    background-clip: text;
}


/*********** Buttons ***********/

.palo-button {
    border: 0;
    border-radius: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.65rem 0.9rem;
    margin: 0.25rem;
    cursor: pointer;
}

.palo-button:focus {
    outline: none;
}


/*********** Images ***********/

img.palo-avatar-round {
    border-radius: 50%;
}
