#palo-logo-text {
    font-family: 'bernadette', serif;
    margin-left: 10px;
    color: #05CC98;
}

img.palo-nav-logo {
    margin-top: 3px;
}

.palo-navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    z-index: 1030;
}

a.palo-nav-link {
    color: #706F67;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
}

.palo-navbar-list {
    display: flex;
    align-items: center;
}

/* #palo-contact-text {
    color: rgba(0,0,0,.5);
}

li.active #palo-contact-text {
    color: rgba(0,0,0,.9);
} */

/* #palo-contact-icon {
    display: none;
} */

/* Contact link in desktop layout is styled like a button */

@media (min-width: 992px) {

    a.palo-nav-link {
        margin-left: 24px;
    }

    a.palo-button-contact {
        padding: 1rem 1.7rem !important;
    }

    .palo-button-ripple {
        background-position: center;
        background: #05cc98 radial-gradient(circle, transparent 1%, rgba(5, 204, 152, 0.5) 1%) center/15000%;
        /* background: #05cc98 radial-gradient(circle, transparent 1%, #05cc98 1%) center/15000%; */
        transition: background 0.5s;
    }
    
    .palo-button-ripple:hover {
        /* background-color: #38E680; */
        background-color: rgba(5, 204, 152, 0.5);
        background-size: 100%;
    }

    /* #palo-contact-icon {
        display: flex;
        font-size: 24px;
        margin-bottom: -100px;
        margin-left: 50%;
        transition: margin-bottom 0.3s;
    }

    li.active #palo-contact-text,
    #palo-contact-text {
        color: white;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        margin-left: -50%;
        margin-right: 25%;
        transition: margin-top 0.3s;
    }

    .palo-button-contact:hover #palo-contact-icon {
        margin-bottom: 0;
    }
    
    .palo-button-contact:hover #palo-contact-text {
        margin-top: -100px;
    } */
}

/* Animated toggler button when menu is collapsible on smaller viewport */

.palo-nav-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: rgba(0,0,0,.5);
   height: 2px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}