<nav class="uk-navbar-container palo-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#" routerLink="/">
            <img src="assets/images/colour_logo.svg" width="100" alt=""><span id="palo-logo-text">training</span>
        </a>
    </div>
    
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="#" routerLink="/formations">LES FORMATIONS</a></li>
            <li><a href="#">LES FORMATEURS</a></li>
            <li><a href="#">MODALITÉS</a></li>
        </ul>
        <button class="palo-button palo-button-navbar">CONTACT</button>
    </div>

</nav>